<ion-header>
  <ion-toolbar>
    <ion-title>Suas transações: {{usuario}}</ion-title>
    <!--<ion-icon float-right name="home" style="zoom:2.0;" (click)="irHome()"></ion-icon>
    -->
      <ion-icon float-left name="menu" style="zoom:2.0;" (click)="openFirst()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-menu side="start" menuId="first3" contentId="main3">
      <ion-header>
        
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-button (click)="verListaProprietarios()">Ver Proprietarios</ion-button>
          </ion-item>
        <ion-item>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main3"></ion-router-outlet>
  </div>

  <div *ngFor="let item of lista_vagas_cliente">
    <ion-label *ngIf="item.transacao_is_terminada == false">
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Vaga: {{item.num_vaga}}</ion-card-subtitle>
          <ion-card-title>Horário de entrada: {{item.hora_entrada}}</ion-card-title>

          <ion-button float-right (click)="sairVaga(item.num_vaga)">Sair da Vaga</ion-button>

        </ion-card-header>
      
        
      </ion-card>
    </ion-label>

  </div>

  <!--
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Vaga: 5</ion-card-subtitle>
        <ion-card-title>Horário de entrada: 2020-03-26</ion-card-title>

        <ion-button float-right (click)="sairVaga(5)">Sair da Vaga</ion-button>

      </ion-card-header>
    
      
    </ion-card>
  </div>
  -->

</ion-content>
