<ion-header>
  <ion-toolbar>
    <ion-title>Suas transações: {{usuario}}</ion-title>
    <ion-icon float-right name="home" style="zoom:2.0;" (click)="irHome()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of lista_vagas_cliente">
    <ion-label *ngIf="item.transacao_is_terminada == false">
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Vaga: {{item.num_vaga}}</ion-card-subtitle>
          <ion-card-title>Horário de entrada: {{item.hora_entrada}}</ion-card-title>

          <ion-button float-right (click)="sairVaga(item.num_vaga)">Sair da Vaga</ion-button>

        </ion-card-header>
      
        
      </ion-card>
    </ion-label>

  </div>

  <!--
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Vaga: 5</ion-card-subtitle>
        <ion-card-title>Horário de entrada: 2020-03-26</ion-card-title>

        <ion-button float-right (click)="sairVaga(5)">Sair da Vaga</ion-button>

      </ion-card-header>
    
      
    </ion-card>
  </div>
  -->

</ion-content>
