<ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
            

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-button  color="primary" full type="submit">Login</ion-button>
      </ion-row>
      <p text-right>Forgot Password?</p>

    </form>

    <ion-row class=".quebra">
      <ion-button color="danger" block clear >Register</ion-button>
    </ion-row>
    
    
      
      
</ion-content>
