<ion-header>
  <ion-toolbar>
    <ion-title>Lista de vagas</ion-title>
    <!---<ion-button float-right (click)="logout()">Logout</ion-button>--->
    <ion-icon float-left name="menu" style="zoom:2.0;" (click)="openFirst()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<h1>{{id}}</h1>-->

  <div>
    <ion-menu side="start" menuId="first2" contentId="main2">
      <ion-header>
        
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
        <ion-item>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main2"></ion-router-outlet>
  </div>
<!---
  <div *ngFor="let item of result3">
    <ion-label *ngIf="item.ocupada == false">
      
    <ion-card>
    <h3>Numero da vaga: {{item.numero_vaga}}</h3>
    <h4>Status da vaga: {{item.ocupada}}</h4>
    <h5>Tipo da Vaga: {{item.tipo_vaga}}</h5>
    <ion-button (click)="irParaVagaASerOcupada(item.numero_vaga)" >Reservar Vaga</ion-button>
  </ion-card>

</ion-label>
  </div>
  --->
  <div *ngFor="let it of result3">
    <div *ngIf="it.ocupada == false">
    <ion-grid>
      <ion-row class="row_grid">
        <ion-col size="3">
          <img src="assets/vaga_livre.png" (click)="irParaVagaASerOcupada(it.numero_vaga)"  >
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>

  </div>
  </ion-content>
