<ion-header>
  <ion-toolbar>
    <ion-title>confirmasaida</ion-title>
    <ion-icon float-left name="menu" style="zoom:2.0;" (click)="openFirst()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="postion_vaga">Deseja realmente sair da vaga</h3>
<!---
  <div>
    <ion-card>
      <ion-button (click)="sairVaga()">Sair vaga</ion-button>
    </ion-card>
  </div>
-->

<div>
  <ion-menu side="start" menuId="first3" contentId="main3">
    <ion-header>
      
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button (click)="verPerfil()">Ver Perfil</ion-button>
        </ion-item>
      <ion-item>
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main3"></ion-router-outlet>
</div>

  <div *ngFor= "let vaga of Vaga">
    <ion-card>
      <ion-item>
      <ion-avatar item-start>
        <img src="assets/vaga_livre.png">
      </ion-avatar>
    </ion-item>

    <ion-card-content>
      <ion-row>
        <ion-col>Numero: <b>{{vaga.numero_vaga}}</b></ion-col>
        <ion-col>Tipo: <b>{{vaga.tipo_vaga}}</b></ion-col>
        <ion-col>Proprietario: <b>{{vaga.prop_vaga}}</b></ion-col>
      </ion-row>
    </ion-card-content>

    <ion-button (click)="sairVaga()">Sair vaga</ion-button>

    </ion-card>
  </div>

</ion-content>
