<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Estacionamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of lista_prop" style="text-align: center;">
    
      <ion-card>
        
        <ion-button (click)="irParaVagas(item.id)">{{item.nome_prop}}</ion-button>
        <ion-button (click)="vaiVagasTeste(item.id)">Vai vagas</ion-button>
        
      
        
      </ion-card>
   

  </div>

  <div *ngFor="let i of result3">
    <p>{{i.numero_vaga}}</p>
    <p>{{i.id}}</p>
    <p>{{i.ocupada}}</p>
  </div>

</ion-content>
