<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label >E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Senha</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button >      Cadastrar</button>

    <button > Login</button>

    <button > Logout</button>

    <button routerLink="/registrar"> Registrar</button>
  </div>
</ion-content>


