<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bem Vindo: {{usuario}}</ion-title>
    <ion-icon float-right name="person" style="zoom:2.0;" (click)="verPerfil()"></ion-icon>
  </ion-toolbar>
<ion-button float-right (click)="logout()">Logout</ion-button>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
   
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>List</title>
      <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
      <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
      <style>
        :root {
          --ion-safe-area-top: 20px;
          --ion-safe-area-bottom: 22px;
        }
      </style>
    
  </ion-header>

 

  <ion-list>
    <ion-list-header>
      Estacionamentos livres
    </ion-list-header>
    <div *ngFor="let item of lista_vagas">
      <ion-label *ngIf="item.ocupada == false">
      
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Vaga: {{item.numero_vaga}}</ion-card-subtitle>
            <ion-card-title>Proprietario: {{item.prop_vaga}}</ion-card-title>
          </ion-card-header>
          <ion-button float-right (click)="reservarVaga(item.numero_vaga)">Reservar</ion-button>
        
          
        </ion-card>
      </ion-label>

    </div>
    
  </ion-list>
</ion-content>
